<!-- footer.html -->
<footer>
    <div class="footer-content">
        <div>
            <h3>من نحن</h3>
            <p>منصة متطورة تعتمد على الذكاء الاصطناعي لتسهيل تنظيم وتحليل النصوص العربية. مما يساعد المستخدمين على الوصول إلى رؤى دقيقة بسرعة وبكفاءة عالية.</p>
        </div>
        <div>
            <h3><a href="terms.html">الشروط والأحكام</a></h3>
            <a href="mailto:bayyinhelp@gmail.com?subject=الدعم%20والمساعدة">الدعم والمساعدة</a> <br>
            <a href="{{ url_for('faq') }}">الأسئلة الشائعة</a>
        </div>
        <div>
            <h3>تواصل معنا</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <p>جميع الحقوق محفوظة لموقع بيِّن © 2024</p>
</footer>
